@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
  }



body 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway',sans-serif;
    
}

header
{
    width: 100%;
    max-width: 1440px;
}

ul
{
    width: 25%;
    display: flex;
    justify-content: space-around; 
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    align-items: flex-end; 
}

li
{
    list-style: none;
}
header li{
    width: 150px;   
}

li:hover .nav_link_container
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
       
}


.nav_link_container
{
    display: flex;
    align-items: flex-end;
    height: 80px; 
    justify-content: center;
    color: black ; 
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    
}

a 
{
    text-decoration: none;
}

.main_navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo
{
    width: 63px;
    height: 31px;
    margin-left: 75px;   
}

h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 52px;
    margin-top: 48px;

}

p
{
    font-family: 'Raleway', sans-serif;
    margin-left: 52px;
    font-size: 12px;
}

form
{
    display: flex;
    margin-left: 52px;
    flex-direction: column;
    margin-top: 21px;
}

.form_elements_container
{
    display:flex
}

#map
{

    height: 50px;
    width: 52px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#location
{
    height: 50px;
    width: 235px;
    border-left: none;
    border-right: none;
    border: #F2F2F2 solid 1px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    padding-left: 18px;
}

#research
{
    height: 50px;
    width: 134px;
    border-left: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    border: none;
    font-family: 'Raleway',sans-serif;
    color: #FFFFFF;
    font-weight: bold;   
}

.research_roundedbox
{
    display: none;
}

#filter_box
{
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 31px;
}

.filters_container
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
   
}

.filters
{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.button_filter
{
    display: flex;
    flex-direction:row;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    align-items: center;
    border: #F2F2F2 solid 1px;
    background-color: #FFFFFF;
    overflow: visible;
    padding: 0px;    
}

.icon_box
{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_color
{
    color: #0065FC;
}

.font_size
{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    padding-right: 22px;
    padding-left: 12px;
    margin: 0px;
}

#info_container
{
    display: flex;
    margin-top: 30px;
}

#info_box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border: #F2F2F2 solid 2px;
    border-radius:  25px 25px 25px 25px;

}

#info
{
    margin: 5px;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
}

.lodge
{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    background-color: white;
    min-height: 626px;
    height: 100%;
    justify-content:space-between;
    padding-right: 52px;
    padding-left: 52px;
    padding-top: 38px;
    margin-bottom: 65px; 

}

h2
{
    font-size: 22px;
    margin-left: 5%;
    margin-top: 5%;
}

.lodge_container
{
    display: flex;
    flex-direction: column;
    width: 66%;
    max-width: 880px;
    min-height: 626px;
    max-height: auto ;
    background-color: #F2F2F2;
}

.lodge_box_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 16px;
    margin-right: 16px;
    
}

.link_lodge
{
    color: black;
    font-weight: bold;
    margin-left: 5%;
}



.card_body
{
    max-width: 25%;
    min-width: 246px;
    height: 200px;
    background-color: white;
    margin-bottom: 30px; 
    padding: 4px;   
}

.shadow
{
    box-shadow: 0px 0px 10px 4px rgb(206, 206, 206);
}

.border_container
{
    border-radius: 15px;
}

.border_img_container
{
    border-radius: 15px 15px 0px 0px;
}

.img_container
{
    width: 100%;
    height: 55%;
    overflow: hidden;
}

._description_box
{
    width: 100%;
    height: 45%;
}

.contain
{
    object-fit: cover;
    height: 100%;
    min-width: 100%;
    margin-left: 0%;
    border-radius: 15px 15px 0px 0px;
}

h3
{
    margin-left: 5%;
    margin-top: 8px;
    margin-bottom: 3%;
    font-size: 14px;
}

.price
{
    margin-left: 5%;
    margin-top: 16px;
    margin-bottom: 3%;
    font-size: 10px;
}

.icon_color_grey
{
    color: #F2F2F2;
}

.rating
{
    padding-left: 5%;
}

.popular_lodge
{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 100%px;
    height: 625px;
    background-color: #F2F2F2;
    overflow: hidden;
    align-items:  center;
}

.title_popular_box
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

.popular_box
{
    width: 82%;
}

.popular_card_body
{
    width: 100%;
    height: 144px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 4px;
}

.popular_img_container
{
    height: 100%;
    width: 40%;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}

.popular_img_contain
{
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    margin-left: 0px;  
}

.popular_description_box
{
    height: 100%;
    width: 60%;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 10%;

}

.activities
{
    max-width: 1440px;
    width: 100%; 
    margin-bottom: 60px;
     
}


.title_activities
{
    margin: 0px 0px 30px 50px;
}

.activities_container
{
    max-width: 1440px;
    width: 100%;
    max-height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}



.activities_box_container
{
    width: 50%;
    min-height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}

.activities_container_left
{
    max-width: 302px;
    width: 50%;overflow: hidden;

}

.activities_container_right
{
    max-width: 302px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities_container_left_top
{
    display: flex;
    flex-direction: column;
    max-width: 302px;
    width: 100%;
    height: 236px;
}

.activities_container_left_bottom
{
    display: flex;
    flex-direction: column;
    max-width: 302px;
    width: 100%;
    height: 165px;
}

.activities_container_right_top
{
    display: flex;
    flex-direction: column;
    max-width: 302px;
    width: 100%;
    height: 195px;
}

.activities_container_right_bottom
{
    display: flex;
    flex-direction: column;
    max-width: 302px;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
}

.img_left_container
{
    height: 85%;
    width: 100%;
}

.img_left_top
{
    height: 72%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.img_left_bottom
{
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;

}

.img_right_top
{
    height: 68%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.img_right_bottom
{
    height: 68%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.item_contain
{
    object-fit: cover;
    width: 100% ;
    height: 100%;

}

.activities_description_container
{
    padding-top: 15px;
}




footer
{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    height: 225px;
    padding: 52px;
}

.footer_link_container
{
    display: flex;
    flex-direction: column;
    width: 33%;
}



.footer_link
{
    display:flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
}

.link
{
        width: 100%;
        font-size: 12px;
        margin-bottom: 7px;
}

.title_link
{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 27px;
}

.link_link
{
    color: black;
}








@media screen and (max-width: 992px) and (min-width: 768px){

ul
{
    width: 45%;
}

#filter_box
{
    margin-right: 992px;
}

.filters
{
    margin-right: 10px;
    margin-top: 15px;
}

.lodge
{
    flex-direction: column-reverse;
    max-width: 100%;
    width: 100%;
}

.lodge_box_container
{
    max-width: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}


.popular_lodge
{
    width: 100%;
    max-width: 992px;
    border-radius: 15px;
    height: auto;
}

.popular_box
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 0%;
}

.popular_card_body
{
    width: 40%;
}

.title_popular_box
{
    padding-top: 0px;
    padding-left: 0px;
}

.lodge_container
{
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
}

h2
{
    margin-bottom: 8%;
}

.activities_container
{
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 52px;
}

.activities_box_container
{
    flex-direction: column;
    width: 100%;
}

.activities_container_left
{
    max-width: none;
    width: 90%;
    height: 190px;
    margin-top: 20px;
}

.img_left_container
{
    height: 65%;
}

.activities_container_right
{
    max-width: 768px;
    width: 100%;
}

.activities_container_left_top
{
    margin-top: 20px;
    width: 100%;
    max-width: 90%;
    height: 190px;   
}

.img_left_top
{
    height: 65%;
}

.activities_container_left_bottom
{
    margin-top: 20px;
    width: 100%;
    max-width: 90%;
    height: 190px; 
}

.img_left_bottom
{
    height: 65%;
}

.activities_container_right_top
{
    margin-top: 20px;
    width: 100%;
    max-width: 90%;
    height: 190px;
}

.activities_container_right_bottom
{
    margin-top: 20px;
    width: 100%;
    max-width: 90%;
    height: 190px;
}

.img_right_top
{
    height: 65%;
}

.img_right_bottom
{
    height: 65%;
}






}

@media all and (max-width: 768px){

.main_navbar
{
    flex-direction: column;
    align-items: center;
    height: 128px;
    
}

ul
{
    width: 100%;
    height: 75px;
}

header li
{
    width: 50%;
    align-items: center;
    height:inherit ;   
}

li:hover .nav_link_container
{
    border-bottom: 2px solid #0065FC ;
    border-top: none;
}

.nav_link_container
{
    align-items: flex-end;
    height: inherit;
    padding-bottom: 16px;
}

.logo
{
    margin-left: 0px;
    margin-top: 29px;
    min-height: 29px;
    width: auto;
}


a
{
   height: inherit; 
}

.nav_link_container
{
    border-bottom: #F2F2F2 solid 2px;
}

form
{
    margin-left: 21px;
}

#map
{
    min-width: 52px;
}

.desktop_research
{
    display: none;
}

.research_roundedbox
{
    display: flex;
}


#research_icon
{
    width: 50px;
    height: 50px;
    background-color: #0065FC  ;
    border-radius: 15px 15px 15px 15px;
    margin-left: -12px;
    border: none;
}

.black
{
    color: #FFFFFF;
}


h1
{
    margin-left: 21px;
    margin-right: 20px;
    margin-top: 31px;

}

p
{
    margin-left: 21px;
}

#filter_box
{
    margin-right: 768px;
}

.filters
{
    margin-right: 10px;
    margin-top: 15px;
}

.footer_container
{
    width: 100%;
    height: 501px;
    flex-direction: column;
}

.footer_link_container
{
    margin-bottom: 44px;
    width: 100%;
}

.lodge
{
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.lodge_box_container
{
    justify-content: left;
    flex-direction: column ;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.popular_lodge 
{
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    height: auto;
}

.lodge_container
{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}

.card_body
{
    max-width: 768px;
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
}


.img_container
{
    width: 100%;

}
h2
{
    margin-left: 20px;
    margin-top: 40px;   
}

.title_popular_box
{
    padding: 0px;
}

.popular_box
{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.activities_container
{
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
}

.activities_box_container
{
    flex-direction: column;
    width: 100%;
}

.activities_container_left
{
    max-width: none;
    width: 100%;
    height: 190px;
    margin-top: 20px;
}

.img_left_container
{
    height: 65%;
}

.activities_container_right
{
    max-width: 768px;
    width: 100%;
}

.activities_container_left_top
{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 190px;   
}

.img_left_top
{
    height: 65%;
}

.activities_container_left_bottom
{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 190px; 
}

.img_left_bottom
{
    height: 65%;
}

.activities_container_right_top
{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 190px;
}

.activities_container_right_bottom
{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 190px;
}

.img_right_top
{
    height: 65%;
}

.img_right_bottom
{
    height: 65%;
}






}





